#include "windows.h"
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,5,2,0
 PRODUCTVERSION 4,5,2,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Vincent Rogier"
            VALUE "FileDescription", "Open source C driver for Oracle databases"
            VALUE "FileVersion", "4.5.2.0"
            VALUE "InternalName", "OCILIB"
            VALUE "LegalCopyright", "Copyright © 2007-2018"
            VALUE "ProductName", "OCILIB (C driver for Oracle)"
            VALUE "ProductVersion", "4.5.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

IDR_VERSION VERSIONINFO
 FILEVERSION 4,5,2,0
 PRODUCTVERSION 4,5,2,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Vincent Rogier"
            VALUE "FileDescription", "Open source C driver for Oracle databases"
            VALUE "FileVersion", "4.5.2.0"
            VALUE "InternalName", "OCILIB.dll"
            VALUE "LegalCopyright", "Copyright © 2007-2018"
            VALUE "OriginalFilename", "OCILIB.dll"
            VALUE "ProductName", "OCILIB (C driver for Oracle)"
            VALUE "ProductVersion", "4.5.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

